html{
        background-color: rgb(206, 206, 239);
}
#cabeceraweb{
        background-color: blue;
}

#navegacionmain{
        background-color: blue;
}
#contenidomain{
        background-color: purple;
        margin-left: 11%;
        padding-left: 15px;
        padding-top: 15px;
}
#footersito{
        background-color: rgb(255, 170, 0);
        clear: both;
        margin-top: 10px;
}
li{
        background-color: yellow;
        display: inline;
}
aside{
        float: left;
        height: 1610px;
        background-color: green;
}
